p {
  
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  }
  
h1 {
  color: rgb(58, 73, 141);
  font-size: 34px;
}
h2 {
  color: rgb(255, 71, 47);
  font-size: 24px;
}
